body{
    background-color: #C2DED1;
    text-align: center;
}

#header
{
    background-color: #ECE5C7;
    margin-top: -20px;
    padding: 10px;
}

#heading1
{
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(152, 21%, 55%);
}

#heading4
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:hsl(152, 21%, 55%);
}

#start_btn
{
    font-size: 20px;
    letter-spacing: 2px;
    color:hsl(152, 21%, 55%);
    border-color: hsl(152, 21%, 55%);
    border-width: 5px;
}

#main_div
{
    padding:20px;
}

#heading2,#heading3
{
    font-family: monospace;
    color:#ede5c6;
}
#footer
{
    background-color:#ECE5C7;
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:grey;
    font-weight: bold;
    text-shadow:5px 5px 10px #8ea299;
}